* {
    margin: 0;
    padding: 0;
}

.body {
    list-style: none;
}

ul li {
    list-style: none;
}

.yoga-icon img {
    width: 100px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.menu ul li {
    padding: 10px 20px 0 0;
}

.yoga-info i {
    color: white;
    border: none;
    border-radius: 50%;
    background-color: #5f8160;
    padding: 6px;
    font-size: 12px;
}

.yoga-info p {
    color: #7b917b;
    font-size: 24px;
    margin: 0;
}

.yoga_logo_img i {
    color: rgb(91, 112, 81);
    font-size: 50px;
    background-color: #7a987ba9;
    border: none;
    border-radius: 50%;
    padding: 30px;
}

.yoga_information h3 {
    font-size: 20px;
    padding: 30px 0px 0px 0px;

}

.yoga_information p {
    color: #B3B3B3;
    font-size: 16px;
    line-height: 28px;
}

.classes-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.class {
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.classes-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.class .classes-img:hover {
    transform: scale(1.2);
    transition: 0.5s linear;
}

.classes-intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(187, 224, 187, 0.7);
    /* green with opacity */
    color: rgba(32, 32, 32, 0.769);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.class:hover .classes-intro {
    opacity: 1;
}

.m-card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.price span {
    font-size: 50px;
    letter-spacing: 4px;
    color: #5f8160;
}

.price sup {
    font-size: 20px;
    color: #5f8160;
}

.post .post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post .post-info h1 {
    color: #5f8160;
    font-size: 58px;
    font-weight: 400;
}

.post .post-info p {
    margin: 5px 0px 5px 0px;
    font-size: 16px;
    color: gray;
}

.post-intro h3 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0px 0px 16px 0px;
}

.post-info {
    padding: 24px 24px 0px 24px;
}

.post-intro {
    padding: 20px 24px 0px 24px;
}

.post-intro p {
    color: rgba(128, 128, 128, 0.954);
    letter-spacing: 1px;
    text-align: justify;

}

.photos .photos-img img {
    width: 100%;
    height: 302px;
    object-fit: cover;
}

.photos {
    position: relative;
}

.photos-icon {
    position: absolute;
    color: white;
    font-size: 25px;
    background-color: #7a987b;
    border: none;
    border-radius: 50%;
    padding: 17px 23px;
    top: 40%;
    left: 40%;
    transition: 0.01s linear;
    opacity: 0;
}

.photos:hover .photos-icon {
    opacity: 1;
}

.testimonial-section {
    width: 100%;
    padding: 60px 20px 100px;
    margin-bottom: 120px;
    position: relative;
    /* background: #f5f5f5; */
}

.testimonial p {
    font-size: 16px;
    text-align: left;
}

.swiper {
    padding-bottom: 50px;
    position: relative;
    /* space for dots */
}

.swiper-slide {
    /* background: #fff; */
    /* padding: 20px; */
    /* margin: 0 10px; */
    /* border-radius: 10px; */
    text-align: center;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
}

.testimonial img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px 0;

}

.testimonial h4 {
    margin: 10px 0 5px;
}

.testimonial .role {
    color: #777;
    font-size: 14px;
}

/* Style and position the dots */

/* .swiper-slide{
    margin-bottom: 100px;
} */

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

.swiper-pagination-bullet {
    background: #c14a4a;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #333;
}

.onlyface {
    width: 110px;
    height: 110px;
    border: none;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.coaches .coaches-img img {
    height: 438px;
    width: 100%;
    object-fit: cover;
}

.coaches-content {
    padding: 40px 0px;
}

.coaches-content p {
    text-align: center;

}

.coaches-content h5 {
    text-align: center;
}

.coaches-content ul {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.Contact_information {
    background-color: #fffefed3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.Contact_information h4 {
    font-size: 30px;
    padding: 10px 0px;
}

.Contact_information p {
    padding: 10px 0px;
    font-size: 20px;
}

.Contact_information p a {
    color: rgba(128, 128, 128, 0.826);
    margin-left: 5px;
    font-size: 20px;
    text-decoration: none;
}

.contact_info {
    background-color: #fffefed3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
}

.contact_info input {
    width: 100%;
    padding: 8px 10px;
    border: 0.5px solid rgba(151, 151, 151, 0.6);
    border-radius: 8px;

}

.contact_info textarea {
    width: 100%;
    padding: 20px 10px;
    border: 0.5px solid rgba(151, 151, 151, 0.6);
    border-radius: 8px;
}

.time-table span {
    padding: 50px 0px;
    font-size: 16px;
}

.time-table p {
    padding: 5px 0px;
    text-align: center;
    color: white;
}

.time-table h6 a {
    text-transform: uppercase;
    color: white;

}

.time-table h6 {
    padding: 25px 0px;
    margin-bottom: 0px;
}

.time-table thead tr th {
    padding: 20px 10px;
    background-color: #99bc9b;
    color: white;
}

.time-table tbody tr td:first-child {
    background-color: #99bc9b;
    padding: 150px 10px;
    color: white;
}
